@import "index/bxslider";
@import "index/slider-caption";
@import "index/hero-upper";
@import "index/hero-lower";
@import "index/promo";
@import "index/gallery-heading";
@import "index/gallery-hover";

@media screen and (max-width: 1920px) {
  .slider-caption {
    bottom: 280px;
  }
}


@media screen and (max-width: 1280px) {
  .slider-caption {

    bottom: 170px;
  }
}

@media screen and (max-width: 993px) {
  .slider-image {
    min-height: 0;
  }

  .slider-caption {
    bottom: 80px;
    &-item {
      font-size: 40px;
    }
  }

  .suggestion-description {
    padding-bottom: 20px;
  }

  .promo-desc {
    padding-right: 0;

    &:before {
      min-height: 50px;
    }
  }
  .promo-button{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .slider-caption {
    bottom: 50px;
    &-item {
      font-size: 35px;
    }
  }
  .promo-button{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 578px) {
  .slider-caption {

    bottom: 20px;
    &-item {
      font-size: 15px;
    }
  }
  .promo-button{
    margin-bottom: 10px;
  }
}

