@media screen and (max-width: 767px) {
  .header,
  .menu-container,
  .menu-block,
  .logo-block,
  .logo-container{
    height: auto;
    width: 100%;
    margin: 0;
  }

  .menu-item,
  .logo{
    display: block;
    padding: 0;
  }

  .menu-link,
  .logo{
    width: 100%;
    text-align: center;

  }
}