@import "components/navbar";
@import "components/fonts";
@import "components/index";


* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

html, body {
  height: 100%;
  background: linear-gradient(to right, #613f84, #815ca6);
}

.container {
  height: inherit;
  margin: 0 auto;

}

.wrapper {
  min-height: 100%;
  margin-bottom: -400px;
  padding-bottom: 400px;
}

.footer {
  height: 400px;
  background: #31383d;
}

@media screen and (max-width: 767px) {
  .header,
  .menu-container,
  .menu-block,
  .logo-block,
  .logo-container{
    height: auto;
    width: 100%;
    margin: 0;
  }

  .menu-item,
  .logo{
    display: block;
    padding: 0;
  }

  .menu-link,
  .logo{
    width: 100%;
    text-align: center;

  }
}