<article class="service-art">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 service-art-img-container">
                <img src="images/servicies/about_us.jpg" alt="" class="service-art-img">
            </div>
            <div class="col-xs-12 col-md-6">
                <h2 class="service-art-header">
                    Our Service
                </h2>
                <p class="service-art-pr">
                    <span class="service-art-pr-block">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                        ut aliquip ex ea commodo consequat.
                    </span>
                    <span class="service-art-pr-block">
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                        esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                        at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                        luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        Nam liber tempor cum soluta nobis eleifend option congue nihil facer
                        possim assum.
                    </span>
                    <span class="service-art-pr-block">
                        Typi non habent claritatem insitam; est usus legentis in iis qui
                        facit eorum claritatem. Investigationes demonstraverunt lectores
                        legere me lius quod ii legunt saepius. Claritas est etiam
                        processus lectorum.
                    </span>
                </p>
            </div>
        </div>
    </div>
</article>