<section class="current-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="current-page-name">
                    <h4 class="current-page-name-header">
                        our services
                    </h4>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="current-page-nav">
                    <a href="index.html" class="current-page-nav-link">
                        home
                    </a>
                    <span class="current-page-nav-link-span">
                        >
                    </span>
                    <a href="services.html" class="current-page-nav-link">
                        services
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>