<section class="service-slider" id="slider2-container">

      <ul id="slider2" class="bxslider">
         <li >
             <img src="images/servicies/slide-pic.jpg" class="slide-pic">
                 <span class="img-desc-info">Lorem ipsum dolor sit amet, consectetuer
                     adipiscing elit, sed diam nonummy nibh euismod tincidunt
                     ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                     ad minim veniam, quis nostrud exerci.
                 </span>
                 <span class="img-desc-autor">
                     <span class="img-desc-autor-name">
                         Wanda Martin
                     </span>
                     <span class="img-desc-autor-detail">
                         - founder of web design
                     </span>
                 </span>
         </li>
         <li><img src="images/servicies/slide-pic2.jpg" class="slide-pic">
             <span class="img-desc-info">Lorem ipsum dolor sit amet, consectetuer
                     adipiscing elit, sed diam nonummy nibh euismod tincidunt
                     ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                     ad minim veniam, quis nostrud exerci.
                 </span>
             <span class="img-desc-autor">
                     <span class="img-desc-autor-name">
                         Oleh Chereshniya
                     </span>
                     <span class="img-desc-autor-detail">
                         - responsible for advertisment
                     </span>
                 </span>
         </li>
         <li><img src="images/servicies/slide-pic3.jpg" class="slide-pic">
             <span class="img-desc-info">Lorem ipsum dolor sit amet, consectetuer
                     adipiscing elit, sed diam nonummy nibh euismod tincidunt
                     ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                     ad minim veniam, quis nostrud exerci.
                 </span>
             <span class="img-desc-autor">
                     <span class="img-desc-autor-name">
                         Igor Burak
                     </span>
                     <span class="img-desc-autor-detail">
                         - responsible director
                     </span>
                 </span>
         </li>
         <li><img src="images/servicies/slide-pic4.jpg" class="slide-pic">
             <span class="img-desc-info">Lorem ipsum dolor sit amet, consectetuer
                     adipiscing elit, sed diam nonummy nibh euismod tincidunt
                     ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                     ad minim veniam, quis nostrud exerci.
                 </span>
             <span class="img-desc-autor">
                     <span class="img-desc-autor-name">
                         John Snow
                     </span>
                     <span class="img-desc-autor-detail">
                         - good actor
                     </span>
                 </span>
         </li>
      </ul>


</section>