<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-12 site-map">
                <h5 class="site-map-header">Site Map</h5>
                <ul class="site-map-nav">
                    <li class="site-map-itm"><a href="index.html" class="site-map-nav-link">Home</a></li>
                    <li class="site-map-itm"><a href="about_us.html" class="site-map-nav-link">About Us</a></li>
                    <li class="site-map-itm"><a href="services.html" class="site-map-nav-link">Services</a></li>
                    <li class="site-map-itm"><a href="pricing.html" class="site-map-nav-link">Pricing</a></li>
                    <li class="site-map-itm"><a href="contact.html" class="site-map-nav-link">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 twitter">
                <h5 class="site-map-header">Twitter Feed</h5>
                <ul class="site-map-twitter">
                    <li class="site-map-twitter-li">
                   <span class="site-map-twitter-li-desc">
                       Lorem ipsum dolor sit amet, adipiscing elit,
                       sed diam nonummy nibh euismod tincidunt ut laoreet
                       dolore magna erat volutpat.

                   </span>
                        <a href="#" class="site-map-twitter-link">
                            http://uibrush.com</a>
                    </li>
                    <li class="site-map-twitter-li">
                   <span class="site-map-twitter-li-desc">
                       Lorem ipsum dolor sit amet, adipiscing elit, sed
                       diam nonummy nibh euismod tincidunt ut laoreet
                       dolore magna erat volutpat.

                   </span>
                        <a href="#" class="site-map-twitter-link">
                            http://uibrush.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12 testimonial">
                <h5 class="site-map-header">Testimonial</h5>
                <ul class="testimonial-list">
                    <li class="testimonial-list-item">
                        <i class="fa  fa-quote-left"></i>
                        Lorem ipsum dolor sit amet, adipiscing elit, sed
                        diam nibh euismod tincidunt ut laoreet dolore magna
                        erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit
                        lobortis nisl ut aliquip ex ea commodo consequat.
                    </li>
                    <li class="testimonial-list-item row">
                        <div class="col-xs-4">

                            <img src="images/index/testimonial.png " class="testimonial-list-item-img">

                        </div>
                        <div class="col-xs-8">
                            <h6 class="testimonial-list-item-header">
                                - Michael R. Hanke</h6>
                            <p class="testimonial-list-item-desc">
                                ceo of sun</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 contact-footer ">
                <form class="footer-form">
                    <h5 class="footer-form-header">Contact Us</h5>
                    <input class="footer-form-input" type="text" placeholder="Name">
                    <input class="footer-form-input" type="text" placeholder="E-Mail">
                    <textarea class="footer-form-textarea" placeholder="Message" rows="3"></textarea>
                    <button class="submit-bt">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
