<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <!-- @@var title -->
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bundle.min.css">
    <link rel="stylesheet" href="/css/app.min.css">
</head>
<body class="animate-in">
<!-- @@include /slideout.html -->
<div class="wrapper" id="panel">
<!-- @@include /navbar.html -->

<!-- @@placeholder= content -->

</div>

<!-- @@include /footer.html -->

<script src="/js/bundle.min.js"></script>
<script src="/js/app.min.js"></script>
</body>
</html>