<header class="header ">
    <div class="container">
        <nav class="container-nav row">
            <div class="logo-block col-xs-5">
                <div class="logo-container">
                    <a class="logo" href="#">
                      <span class="logo-brand"> Ui</span>
                        Brush
                    </a>
                </div>
            </div>
            <div class="menu-block col-xs-7">
                <div class="menu-container ">
                    <ul class="menu ">
                        <li class="menu-item"><a href="index.html" class="menu-link">Home</a></li>
                        <li class="menu-item"><a href="about_us.html" class="menu-link">About us</a></li>
                        <li class="menu-item"><a href="services.html" class="menu-link">Services</a></li>
                        <li class="menu-item"><a href="pricing.html" class="menu-link">Pricing</a></li>
                        <li class="menu-item"><a href="contact.html" class="menu-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>




