<button class="toggle-button">☰</button>
<div class="header " >

    <div class="container">

        <div class="container-nav row" >

            <div class="logo-block col-sm-2 col-md-7" >
                <header class="logo-container">


                    <a class="logo" href="#">
                      <span class="logo-brand"> Ui</span>
                        Brush
                    </a>
                </header>
            </div>
            <div class="menu-block col-sm-10 col-md-5 ">
                <nav class="menu-container">
                    <ul class="menu">
                        <li class="menu-item"><a href="index.html" class="menu-link">Home</a></li>
                        <li class="menu-item"><a href="about_us.html" class="menu-link">About us</a></li>
                        <li class="menu-item"><a href="services.html" class="menu-link">Services</a></li>
                        <li class="menu-item"><a href="pricing.html" class="menu-link">Pricing</a></li>
                        <li class="menu-item"><a href="contact.html" class="menu-link">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
      </div>
</div>





