<nav id="menu">
    <ul class="slide-menu">
        <li class="slide-item"><a href="index.html" class="slide-link">Home</a></li>
        <li class="slide-item"><a href="about_us.html" class="slide-link">About us</a></li>
        <li class="slide-item"><a href="services.html" class="slide-link">Services</a></li>
        <li class="slide-item"><a href="pricing.html" class="slide-link">Pricing</a></li>
        <li class="slide-item"><a href="contact.html" class="slide-link">Contact</a></li>
    </ul>
</nav>