<section class="contact-us">
    <div class="container">
        <div class="contact-us-desc">
            <h2 class="contact-us-heading">
                    <span class="contact-us-heading-main">
                        Contact us
                    </span>
                <span class="gallery-heading-desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut.
                    </span>
            </h2>
        </div>
        <div class="contact-us-info row">
            <div class="col-xs-6 contact-us-details">
                <h5 class="contact-us-header">Contact details:</h5>
                <p class="contact-us-pr">
                    <i class="fa fa-map-marker contact-us-pr-fa"></i>
                    4379 Sycamore Circle, Dallas, TX 75247
                </p>
                <p class="contact-us-pr">
                    <i class="fa fa-envelope contact-us-pr-fa"></i>
                    email@domain.com
                </p>
                <p class="contact-us-pr">
                    <i class="fa fa-phone contact-us-pr-fa">
                    </i>682-503-2772
                </p>
                <div class="contact-us-time">
                    <h5 class="contact-us-header">
                        Timing:
                    </h5>
                    <p class="contact-us-time-pr">
                        Monday - Saturday :
                        <span class="contact-us-time-hour">
                                10 AM to 6 PM
                            </span>
                    </p>
                    <p class="contact-us-pr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                        veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat.</p>
                </div>
            </div>

            <div class="col-xs-6 contact-us-form">

                <input type="text" placeholder="Name" class="contact-us-input">
                <input type="text" placeholder="E-Mail" class="contact-us-input">
                <textarea name="" id="" cols="30" rows="10" placeholder="Message" class="contact-us-textarea"></textarea>
                <button class="contact-us-send">Send</button>
            </div>
        </div>
    </div>
    </div>

</section>