<section class="our-team">
    <div class="container">
        <div class="our-desc">
            <h2 class="our-heading">
                    <span class="our-heading-main">
                       our team
                    </span>
                <span class="our-heading-desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut.
                </span>
            </h2>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="our-person">
                    <span class="our-person-info">
                       <span class="our-person-name">
                           <span class="our-person-possition-left">
                           sheron hausley
                                </span>

                         <span class="our-person-possition">
                             <span class="our-person-possition-right">
                             -seo
                             </span>
                         </span>
                    </span>
                       </span>
                </div>
                <div class="our-person-connect">
                    <a href="#" class="our-person-link">
                        <i class="fa fa-facebook"></i></a>
                    <a href="#" class="our-person-link">
                        <i class="fa fa-twitter"></i></a>
                    <a href="#" class="our-person-link">
                        <i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="our-person person-2">
                    <span class="our-person-info">
                       <span class="our-person-name">
                           <span class="our-person-possition-left">
                           sarah wals
                                </span>

                         <span class="our-person-possition">
                             <span class="our-person-possition-right">
                             -support head
                             </span>
                         </span>
                    </span>
                       </span>
                </div>
                <div class="our-person-connect">
                    <a href="#" class="our-person-link">
                        <i class="fa fa-facebook"></i></a>
                    <a href="#" class="our-person-link">
                        <i class="fa fa-twitter"></i></a>
                    <a href="#" class="our-person-link">
                        <i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="our-person person-3">
                    <span class="our-person-info">
                       <span class="our-person-name">
                           <span class="our-person-possition-left">
                           betty covey
                                </span>

                         <span class="our-person-possition">
                             <span class="our-person-possition-right">
                             -finance head
                             </span>
                         </span>
                    </span>
                       </span>
                </div>
                <div class="our-person-connect">
                    <a href="#" class="our-person-link">
                        <i class="fa fa-facebook"></i></a>
                    <a href="#" class="our-person-link">
                        <i class="fa fa-twitter"></i></a>
                    <a href="#" class="our-person-link">
                        <i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="our-person person-4">
                    <span class="our-person-info">
                       <span class="our-person-name">
                           <span class="our-person-possition-left">
                           ralf buchhan
                                </span>

                         <span class="our-person-possition">
                             <span class="our-person-possition-right">
                             -marceting head
                             </span>
                         </span>
                    </span>
                       </span>
                </div>
                <div class="our-person-connect">
                    <a href="#" class="our-person-link">
                        <i class="fa fa-facebook"></i></a>
                    <a href="#" class="our-person-link">
                        <i class="fa fa-twitter"></i></a>
                    <a href="#" class="our-person-link">
                        <i class="fa fa-linkedin"></i></a>
                </div>
            </div>


        </div>
    </div>
</section>