<section class="partners">
<div class="container">
    <div class="pricing-desc">
        <h2 class="pricing-heading">
                    <span class="pricing-heading-main">
                      world wide available
                    </span>
            <span class="our-heading-desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut.
                </span>
        </h2>
    </div>
<table id="partners" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>City</th>
        <th>Company</th>

    </tr>
    </thead>
    <tfoot>
    <tr >
        <th>Name</th>
        <th>Mail</th>
        <th>City</th>
        <th>Company</th>
    </tr>
    </tfoot>
</table>
</div>
</section>