<section class="pricing">
    <div class="container">
        <div class="pricing-desc">
            <h2 class="pricing-heading">
                    <span class="pricing-heading-main">
                       pricing
                    </span>
                <span class="our-heading-desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut.
                </span>
            </h2>
        </div>
        <div class="row">
            <div class="col xs-12 col-md-4">
                <div class="offer">
                    <h4 class="offer-name">
                        standart
                    </h4>
                </div>
                <span class="offer-value">
                        $
                        <span class="offer-value-number">
                        9.99
                        </span>
                        / Per Month
                </span>
                <ul class="offer-type">
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            1
                        </span> Domain
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            20 GB
                        </span>
                         Storage
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            100 GB
                        </span>
                         Bandwidth
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            99.9%
                        </span>
                        Uptime
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            24x7
                        </span>
                        Support
                    </li>
                </ul>
                <div class="offer-buy">
                <a href="#" class="buy">
                    Buy Now
                </a>
            </div>
            </div>
            <div class="col xs-12 col-md-4">
                <div class="offer">
                    <h4 class="offer-name offer-name-active">
                        silver
                    </h4>
                </div>
                <span class="offer-value">
                        $
                        <span class="offer-value-number">
                        19.99
                        </span>
                        / Per Month
                </span>
                <ul class="offer-type">
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            5
                        </span> Domain
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            40 GB
                        </span>
                        Storage
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            200 GB
                        </span>
                        Bandwidth
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            99.9%
                        </span>
                        Uptime
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            24x7
                        </span>
                        Support
                    </li>
                </ul>
                <div class="offer-buy">
                    <a href="#" class="buy buy-active">
                        Buy Now
                    </a>
                </div>
            </div>
            <div class="col xs-12 col-md-4">
                <div class="offer">
                    <h4 class="offer-name">
                        gold
                    </h4>
                </div>
                <span class="offer-value">
                        $
                        <span class="offer-value-number">
                        49.99
                        </span>
                        / Per Month
                </span>
                <ul class="offer-type">
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            10
                        </span> Domain
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            100 GB
                        </span>
                        Storage
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            Unlimited
                        </span>
                        Bandwidth
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            100%
                        </span>
                        Uptime
                    </li>
                    <li class="offer-type-item">
                        <span class="offer-type-item-bold">
                            24x7
                        </span>
                        Support
                    </li>
                </ul>
                <div class="offer-buy">
                    <a href="#" class="buy">
                        Buy Now
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>