<section class="gallery-works">
    <div class="container">
        <div class="gallery-desc">
            <h2 class="gallery-heading">
                    <span class="gallery-heading-main">
                        Our works
                    </span>
                <span class="gallery-heading-desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut.
                    </span>
            </h2>
        </div>

        <div class="row">


            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <a href="images/servicies/work1.jpg" data-lightbox="my-gallery" class="hovereffect">
                    <img src="images/servicies/work1.jpg" class="img-responsive">
                    <span class="overlay"><h2>read more</h2></span>
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <a href="images/servicies/nature.jpg" data-lightbox="my-gallery" class="hovereffect">
                    <img src="images/servicies/nature.jpg" class="img-responsive">
                    <span class="overlay"><h2>read more</h2></span>
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <a href="images/servicies/work3.jpg" data-lightbox="my-gallery" class="hovereffect">
                    <img src="images/servicies/work3.jpg" class="img-responsive">
                    <span class="overlay"><h2>read more</h2></span>
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <a href="images/servicies/work4.jpg" data-lightbox="my-gallery" class="hovereffect">
                    <img src="images/servicies/work4.jpg" class="img-responsive">
                    <span class="overlay"><h2>read more</h2></span>
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <a href="images/servicies/work5.jpg" data-lightbox="my-gallery" class="hovereffect">
                <img src="images/servicies/work5.jpg" class="img-responsive">
                <span class="overlay"><h2>read more</h2></span>
            </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <a href="images/servicies/work6.jpg" data-lightbox="my-gallery" class="hovereffect">
                    <img src="images/servicies/work6.jpg" class="img-responsive">
                    <span class="overlay"><h2>read more</h2></span>
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <a href="images/servicies/work7.jpg" data-lightbox="my-gallery" class="hovereffect">
                    <img src="images/servicies/work7.jpg" class="img-responsive">
                    <span class="overlay"><h2>read more</h2></span>
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <a href="images/servicies/road.jpeg" data-lightbox="my-gallery" class="hovereffect">
                    <img src="images/servicies/road.jpeg" class="img-responsive">
                    <span class="overlay"><h2>read more</h2></span>
                </a>
            </div>

        </div>

    </div>


</section>