<section class="hero-section">
    <div class="container">
        <div class="hero-upper">
            <h2 class="hero-heading ">
                    <span class="hero-heading-main">
                        Our services
                    </span>
                <span class="hero-heading-desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut.
                    </span>
            </h2>
        </div>

        <div class="hero-lower content-width row">
            <div class="hero-lower-suggestion col-xs-6 col-md-3">
                <a href="#" class="suggestion-link-world"></a>
                <h3 class="suggestion-header">Web Design</h3>
                <div class="suggestion-line">
                        <span class="suggestion-line-item"></span>
                    </div>
                <div class="suggestion-description">
                    Lorem ipsum dolor sit amet, adipiscing elit,
                    sed diam nonummy nibh euimod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.
                </div>
            </div>
            <div class="hero-lower-suggestion col-xs-6 col-md-3">
                <a href="#" class="suggestion-link-cloud"></a>
                <h3 class="suggestion-header">Cloud storage</h3>
                <div class="suggestion-line">
                    <span class="suggestion-line-item"></span>
                </div>
                <div class="suggestion-description">
                    Lorem ipsum dolor sit amet, adipiscing elit,
                    sed diam nonummy nibh euimod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.
                </div>
            </div>
            <div class="hero-lower-suggestion col-xs-6 col-md-3">
                <a href="#" class="suggestion-link-dev"></a>
                <h3 class="suggestion-header">App development</h3>
                <div class="suggestion-line">
                    <span class="suggestion-line-item"></span>
                </div>
                <div class="suggestion-description">
                    Lorem ipsum dolor sit amet, adipiscing elit,
                    sed diam nonummy nibh euimod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.
                </div>
            </div>
            <div class="hero-lower-suggestion col-xs-6 col-md-3">
                <a href="#" class="suggestion-link-marceting"></a>
                <h3 class="suggestion-header">E-mail marceting</h3>
                <div class="suggestion-line">
                    <span class="suggestion-line-item"></span>
                </div>
                <div class="suggestion-description">
                    Lorem ipsum dolor sit amet, adipiscing elit,
                    sed diam nonummy nibh euimod tincidunt ut laoreet
                    dolore magna aliquam erat volutpat.
                </div>
            </div>
        </div>
    </div>
</section>
